@model ThanalSoft.SmartComplex.Web.Models.Apartment.FlatManagementViewModel
@{
    Layout = null;
}
<div class="x_panel">
    <div class="x_title">
        <h2>
            <i class="fa fa-home"></i> Flats of '@Model.Apartment.Name'
        </h2>
        <button type="button" onclick="addNew()" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Add New</button>
        <button type="button" onclick="viewApartment(@Model.Apartment.Id)" class="btn btn-dark pull-right"><i class="fa fa-backward"></i> Back</button>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        @Html.DisplayTableFor(Model.Apartment.Flats, new { onclick = "viewFlat(this.id)" })
    </div>
</div>
