@model ThanalSoft.SmartComplex.Web.Models.Apartment.ApartmentViewModel
@{
    Layout = "";
}
@section title {
    <i class="fa fa-building"></i> Apartment <small>in the system!</small>
}
@using (Ajax.BeginForm("Create", "Apartment", FormMethod.Post, new AjaxOptions { UpdateTargetId = "container", OnBegin = "loadAnimator", OnComplete = "hideAnimator" }, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    if (Model.ActionResultStatus != null)
    {
        Html.RenderPartial("Partials/_ActionResultStatusPartial", Model.ActionResultStatus);
    }
    <div class="x_panel">
        <div class="x_title">
            <h2>
                <i class="fa fa-building"></i> Add Apartment<small>to the system!</small>
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
