@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12" id="container">
    
</div>

<script type="text/javascript">
    $(document).ready(appartmentListView);

    function appartmentListView() {
            $.ajax({
                url: '@Url.Action("IndexList", "Apartment")',
                type: "GET",

                success: function (data) {
                    $("#container").fadeOut(100, function () {
                        $("#container").html(data);
                        $("#container").fadeIn(100);
                    });
                },
                error: function () {
                    alert("An error has occured!!!");
                }
            });
    };

    function viewApartment(apartmentId) {
        $.ajax({
            url: '@Url.Action("View", "Apartment")',
            type: "GET",
            data: { pId: apartmentId },

            success: function(data) {
                $("#container").fadeOut(100, function() {
                    $("#container").html(data);
                    $("#container").fadeIn(100);
                });
            },
            error: function() {
                alert("An error has occured!!!");
            }
        });
    };

    function editApartment(apartmentId) {
        $.ajax({
            url: '@Url.Action("Update", "Apartment")',
            type: "GET",
            data: { pId: apartmentId },

            success: function (data) {
                $("#container").fadeOut(100, function () {
                    $("#container").html(data);
                    $("#container").fadeIn(100);
                });
            },
            error: function () {
                alert("An error has occured!!!");
            }
        });
    };

    function closeApartment() {
        appartmentListView();
    };

</script>