@{
    Layout = "~/Views/Shared/_TitleView.cshtml";
}

@section title {
    <i class="fa fa-user"></i> User Profile
}

<div class="col-xs-2">
    <!-- required for floating -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs tabs-left">
        <li class="active">
            <a href="#home" data-toggle="tab" aria-expanded="false"><i class="fa fa-user"></i> Profile</a>
        </li>
        <li class="">
            <a href="#profile" data-toggle="tab" aria-expanded="false"><i class="fa fa-key"></i> Credentials</a>
        </li>
        <li class="">
            <a href="#settings" data-toggle="tab" aria-expanded="true"><i class="fa fa-gear"></i> Settings</a>
        </li>
    </ul>
</div>

<div class="col-xs-10">
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="home">
            <p class="lead">Home tab</p>
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terr.</p>
        </div>
        <div class="tab-pane" id="profile">Profile Tab.</div>
        <div class="tab-pane" id="settings">Settings Tab.</div>
    </div>
</div>
<div class="clearfix"></div>
