@model ThanalSoft.SmartComplex.Web.Models.Account.ProfileViewModel
@{
    Layout = "~/Views/Shared/_TitleView.cshtml";
}

@section title {
    <i class="fa fa-user"></i> User Profile <small> of '@Model.Email'</small>
}

<div class="col-xs-2">
    <!-- required for floating -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs tabs-left">
        <li class="active">
            <a href="#home" data-toggle="tab" aria-expanded="false"><i class="fa fa-user"></i> Profile</a>
        </li>
        <li class="">
            <a href="#profile" data-toggle="tab" aria-expanded="false"><i class="fa fa-key"></i> Credentials</a>
        </li>
        <li class="">
            <a href="#settings" data-toggle="tab" aria-expanded="true"><i class="fa fa-gear"></i> Settings</a>
        </li>
    </ul>
</div>

<div class="col-xs-8">
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="home">
            @{
                Html.RenderPartial("_UpdateUserProfile", @Model);
            }
        </div>
        <div class="tab-pane" id="profile">
            <p class="lead">Credentials Management</p>
        </div>
        <div class="tab-pane" id="settings"><p class="lead">Settings</p></div>
    </div>
</div>
<div class="clearfix"></div>