@model ThanalSoft.SmartComplex.Web.Areas.Dashboard.Models.DashboardProfileViewModel
<div class="x_panel ui-ribbon-container fixed_height_390">
    <div class="ui-ribbon-wrapper">
        <div class="ui-ribbon">
            Profile
        </div>
    </div>
    <div class="x_content">
        <div style="text-align: center;">
            <i class="fa fa-user" style="font-size: 300%;"></i>
            <div class="clear"></div>
            <h4 style="text-transform: uppercase">@Model.Name</h4>
        </div>
        <ul class="list-unstyled user_data_dash">
            <li>
                <div>
                    <i class="fa fa-envelope"></i>@Model.Email
                </div>
            </li>
            <li>
                <div>
                    <i class="fa fa-phone-square"></i>+91 9742170983
                </div>
            </li>
            <li>
                <div>
                    <i class="fa fa-medkit"></i>Blood group not updated!
                </div>
            </li>
            <li>
                <div>
                    <a href="@Url.Action("UserProfile", "Account", new {area = ""})">Update Profile</a><i class="fa fa-edit"></i>
                </div>
            </li>
        </ul>
        <ul class="list-inline user_info_dash">
            <li class="blue">
                <h3>11</h3>
                <span>Discussions</span>
            </li>
            <li class="blue">
                <h3>02</h3>
                <span>Messages</span>
            </li>
            <li class="blue">
                <h3>43</h3>
                <span>Reminders</span>
            </li>
        </ul>
    </div>
</div>
