@model ThanalSoft.SmartComplex.Web.Areas.Dashboard.Models.DashboardViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model?.AdminDashboardInfo != null)
{
    Html.RenderPartial("_AdminDashboard", Model.AdminDashboardInfo);
}
<div class="col-md-5 col-xs-12 widget widget_tally_box" id="userProfileWidget">

</div>
<script>
    $(
        invokeAjaxAndFill('@Url.Action("GetUserProfileWidget", "Home")', null, fillUserWidget)
    );

    function fillUserWidget(data) {
        try {
            $("#userProfileWidget").fadeOut(10, function () {
                $("#userProfileWidget").html(data);
                $("#userProfileWidget").fadeIn(1000);
            });
        } catch (e) {
            console.log("An error occured while filling container. Reason: " + e.message);
        }
    }
</script>