@using ThanalSoft.SmartComplex.Common.Extensions
@model ThanalSoft.SmartComplex.Common.Models.Common.NotificationInfo[]
@if (Model != null && Model.Any())
{
    <ul id="notifications" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
        @foreach (var notification in Model)
        {
            <li>
                <a>
                    <i class="fa fa-flag-checkered"></i>
                    <span>
                        <span class="time">@notification.CreatedDate.ConvertWhen()</span>
                    </span>
                    <span class="message">
                        @notification.Message
                    </span>
                </a>
            </li>
        }
        <li>
            <div class="text-center">
                <a href="@Url.Action("Notifications", "Home")">
                    <strong>View All</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </li>
    </ul>
}