@using ThanalSoft.SmartComplex.Web.HTMLHelpers
@model ThanalSoft.SmartComplex.Web.Areas.Apartment.Models.ApartmentListViewModel
@{
    Layout = "~/Views/Shared/_TitleView.cshtml";
}

@section topbuttons {
    <button type="button" id="addNewApartment" class="btn btn-success"><i class="fa fa-plus"></i> Add New</button>
}
@section title {
    <i class="fa fa-building"></i> Apartments <small>in the system!</small>
}
@Html.DisplayTableFor(Model.Apartments)

<script>
$(
    $("#addNewApartment").click(function () {
        invokeAjaxAndFillContainer('@Url.Action("Create", "Manage", new { area = "Apartment" })');
    }),
    $("[data-rowid]").click(function () {
        var id = $(this).data("rowid");
        invokeAjaxAndFillContainer('@Url.Action("Get", "Manage", new { area = "Apartment" })', { pApartmentId: id });
    })
);
</script>